@media (max-width: 992px) {
    .head-line {
        font-size: 11px;
        gap: 10px;
        flex-wrap: wrap;
        margin: 0 30px;
    }

    .left {
        gap: 20px;
    }

    .navbar-main {
        margin: 0 30px;
    }

    .nav-links ul {
        gap: 20px;
    }

    .main-heading {
        font-size: 42px;
    }

    .rate {
        font-size: 40px;
    }

    .description {
        font-size: 16px;
        max-width: 90%;
    }

    .overlay {
        padding-left: 40px;
    }

    .loan-container {
        flex-wrap: wrap;
    }

    .loan-box {
        flex: 1 1 50%;
        border-right: none;
        border-bottom: 1px solid #eee;
        box-sizing: border-box;
    }

    .loan-box:nth-child(2n) {
        border-bottom: none;
    }

    .loan-cards {
        justify-content: center;
        gap: 30px;
    }

    .loan-card {
        flex: 1 1 calc(50% - 40px);
    }

    .section-title {
        font-size: 28px;
    }

    .section-subtitle {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .steps {
        gap: 20px;
    }

    .step-box {
        width: 260px;
        padding: 25px 18px;
    }

    .step-box h3 {
        font-size: 18px;
    }

    .step-box p {
        font-size: 15px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-subtitle {
        font-size: 16px;
        margin-bottom: 40px;
    }

    .choose-card {
        width: 260px;
        padding: 25px 20px;
    }

    .choose-card h3 {
        font-size: 18px;
    }

    .choose-card p {
        font-size: 15px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-subtitle {
        font-size: 15px;
        margin-bottom: 40px;
    }

    .testimonial-card {
        max-width: 280px;
        padding: 25px 20px;
    }

    .testimonial-text {
        font-size: 15px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-subtitle {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .news-card {
        max-width: 280px;
    }

    .news-content h3 {
        font-size: 17px;
    }

    .desc {
        font-size: 14px;
    }

    .footer-header {
        flex-direction: column;
        align-items: start;
    }

    .footer-header>div {
        margin-top: 20px;
    }

    .footer-main {
        flex-direction: column;
        align-items: center;
    }

    .footer-disc {
        width: 95%;
    }

    .footer-links {
        width: 95%;
        margin-top: 50px;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .head-line {
        flex-direction: column;
        align-items: flex-start;
        font-size: 11px;
    }

    .left {
        align-items: flex-start;
        gap: 10px;
    }

    .navbar-main {
        margin: 0 30px;
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .main-heading {
        font-size: 32px;
        text-align: center;
    }

    .rate {
        font-size: 30px;
        text-align: center;
    }

    .description {
        font-size: 15px;
        text-align: center;
        margin: 0 auto 20px;
    }

    .btn {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .overlay {
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;
    }

    .arrow-left,
    .arrow-right {
        top: auto;
        bottom: 20px;
        transform: none;
    }

    .arrow-left {
        left: 20px;
    }

    .arrow-right {
        right: 20px;
    }

    .loan-box {
        flex: 1 1 100%;
        border-bottom: 1px solid #eee;
    }

    .loan-box:last-child {
        border-bottom: none;
    }

    .section-title {
        font-size: 28px;
    }

    .section-subtitle {
        font-size: 18px;
        padding: 0 10px;
    }

    .loan-card {
        flex: 1 1 100%;
    }

    .loan-cards {
        gap: 20px;
    }

    .arrrow {
        gap: 15px;
    }

    .p-arrow {
        width: 38px;
        height: 38px;
        font-size: 16px;
        line-height: 38px;
    }

    .section-title {
        font-size: 24px;
    }

    .section-subtitle {
        font-size: 15px;
        padding: 0 10px;
    }

    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step-box {
        width: 90%;
    }

    .start-button a {
        padding: 10px 24px;
        font-size: 15px;
    }

    .section-title {
        font-size: 24px;
    }

    .section-subtitle {
        font-size: 15px;
        padding: 0 10px;
    }

    .choose-cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .choose-card {
        width: 90%;
    }

    .card-button {
        padding: 9px 18px;
        font-size: 14px;
    }

    .section-title {
        font-size: 24px;
    }

    .testimonial-cards {
        flex-direction: column;
        align-items: center;
    }

    .testimonial-card {
        width: 90%;
        max-width: 100%;
    }

    .testimonial-text {
        font-size: 15px;
    }

    .user-info h4 {
        font-size: 15px;
    }

    .user-info span {
        font-size: 13px;
    }

    .section-title {
        font-size: 24px;
    }

    .news-cards {
        flex-direction: column;
        align-items: center;
    }

    .news-card {
        width: 100%;
        max-width: 90%;
    }

    .news-content {
        padding: 18px;
    }

    .news-content a {
        font-size: 13px;
    }

    .footer-header>div {
        flex-direction: column;
        align-items: start;
    }

}

@media (max-width: 480px) {
    .head-line {
        font-size: 10px;
        align-items: flex-start;
    }

    .left,
    .right {
        width: 100%;
        align-items: flex-start;
    }

    .left p,
    .right p {
        font-size: 10px;
    }

    .logo img {
        width: 120px;
    }

    .menu-toggle {
        font-size: 20px;
    }

    .main-heading {
        font-size: 26px;
    }

    .rate {
        font-size: 24px;
    }

    .description {
        font-size: 14px;
    }

    .arrow {
        width: 36px;
        height: 36px;
        font-size: 16px;
        line-height: 36px;
    }

    .arrow-left {
        left: 10px;
    }

    .arrow-right {
        right: 10px;
    }

    .btn {
        font-size: 14px;
        padding: 10px 20px;
    }

    .loan-box {
        align-items: flex-start;
        text-align: left;
        gap: 10px;
    }

    .loan-box h3 {
        font-size: 18px;
    }

    .loan-box p {
        font-size: 14px;
    }

    .section-title {
        font-size: 24px;
    }

    .section-subtitle {
        font-size: 16px;
    }

    .loan-card h3 {
        font-size: 18px;
    }

    .loan-card p {
        font-size: 14px;
    }

    .loan-card a {
        font-size: 13px;
    }

    .p-arrow {
        width: 34px;
        height: 34px;
        font-size: 14px;
        line-height: 34px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-subtitle {
        font-size: 14px;
    }

    .step-box {
        padding: 20px 15px;
    }

    .step-box h3 {
        font-size: 16px;
    }

    .step-box p {
        font-size: 14px;
    }

    .step-number {
        width: 36px;
        height: 36px;
        line-height: 34px;
        font-size: 16px;
    }

    .start-button a {
        font-size: 14px;
        padding: 10px 20px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-subtitle {
        font-size: 14px;
    }

    .icon {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .choose-card h3 {
        font-size: 16px;
    }

    .choose-card p {
        font-size: 14px;
    }

    .card-button {
        font-size: 13px;
        padding: 8px 16px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-subtitle {
        font-size: 14px;
    }

    .testimonial-card {
        padding: 20px 15px;
    }

    .testimonial-text {
        font-size: 14px;
    }

    .user-info img {
        width: 44px;
        height: 44px;
    }

    .user-info h4 {
        font-size: 14px;
    }

    .user-info span {
        font-size: 12px;
    }

    .section-title {
        font-size: 20px;
    }

    .section-subtitle {
        font-size: 14px;
    }

    .news-content h3 {
        font-size: 16px;
    }

    .meta {
        font-size: 12px;
    }

    .desc {
        font-size: 13px;
    }

    .news-content a {
        font-size: 12.5px;
    }

    .footer-links{
        flex-direction: column;
    }
    
    .footer-disc>div {
        flex-direction: column;
        gap: 40px;
    }

    .footer-inputdiv input[type="email"] {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}